/******************************************************************

Stylesheet: Desktop
Breakpoint: 992px - 1199px.

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/

/*************************
 * POSTS & CONTENT
 ************************/

#inner-content {
	.entry-meta {

		span {
			&:not(:last-child):after {
				content: "\00B7";
				margin-left: 13px;
				color: $color__tertiary-med;
				font-weight: 500;
			}
		}
	}
}

.has-both-sidebars #main {
	padding-left: 45px;
}

.has-both-sidebars #main {
	padding-right: 45px;
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.has-both-sidebars {
	.sidebar {
		margin-top: 0;
	}
}

/*************************
 * FOOTER
 ************************/
