/******************************************************************

Stylesheet: Tablet
Breakpoint: 768px - 991px.

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/

/*************************
 * POSTS & CONTENT
 ************************/

.has-left-sidebar #main {
	padding-left: 45px;
}

.has-right-sidebar #main {
	padding-right: 45px;
}

#inner-content {

	.post-navigation {
		.nav-links {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.nav-previous,
			.nav-next {
				flex: 0 1 auto;
				margin-bottom: 0;
				margin-top: inherit;
				max-width: 15rem;

				p {
					margin: 0;

					&.post-title {
						font-size: 1.2em;
						font-weight: bold;
					}
				}
			}

			.nav-next {
				text-align: right;
			}
		}
	}
}


.single {
	#inner-content {

		.entry-footer {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;

			.post-taxonomies {
				justify-content: flex-end;
				text-align: right;
				margin-top: 0;
			}
		}

	}
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.has-left-sidebar,
.has-right-sidebar,
.has-both-sidebars {
	.sidebar {
		margin-top: 0em;
	}

	.alignfull {
		margin: 0;
		width: auto;
	}
}

/*************************
 * FOOTER
 ************************/
