/******************************************************************

Stylesheet: Base Mobile.
Breakpoint: 0px - 575px.

******************************************************************/

/*************************
 * GENERAL
 ************************/

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	background-color: $color__body-bg;
}

/*************************
 * HEADER
 ************************/

#inner-header {
	padding-top: 1em;
	padding-bottom: 1em;
}

#logo {
	&.h1 {
		margin: 0;
		font-size: 1.2em;

        .custom-logo {
			width: auto;
			height: 60px;
            display: block;
        }
	}

	a {
		text-decoration: none;
	}
}

.banner-wrap {
	@include flexbox(flex);
	@include align-items(center);
	position: relative;
	padding-bottom: 33.3333%;
	min-height: 450px;
	overflow: hidden;

	&.hero--no-background {
		background: $color__primary;
		padding-bottom: 0;
		min-height: 200px;

		.banner__container {
			position: relative;
			transform: none;
			left: auto;
			top: auto;
		}
	}

	#banner {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		img {
			display: block;
			line-height: 0;
			z-index: 2;
			position: absolute;
			-o-object-fit: cover;
			object-fit: cover;
			width: 100%;
			height: 100%;
			transform: translate(-50%,-50%);
			left: 50%;
			top: 50%;
		}

		#wp-custom-header {
			height: 100%;

			video,
			iframe {
				width: 100%;
				height: 100% !important;
				object-fit: cover;
			}

			#wp-custom-header-video-button {
				position: absolute;
				z-index: 2;
				top: 2em;
				left: 2em;
				border: 0;
				background: rgba(0,0,0,0.55);
				color: #fff;
				padding: .5em 1em;
				cursor: pointer;
			}
		}
	}

	.banner__container {
		padding: 3rem 1.5rem;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: $max-content-width;
		position: absolute;
		text-align: center;
		z-index: 4;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;

		.banner__title {
			color: #fff;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

}

/*************************
 * POSTS & CONTENT
 ************************/
.entry-header,
.entry-content,
.page-content {
	& > *:not(.alignwide):not(.alignfull):not(.is-style-wide) {
		margin-right: auto;
		margin-left: auto;
		width: $max-content-width;
		max-width: 90%;
	}
}

.footer .sidebar .widget {
	& > *:not(.alignwide):not(.alignfull):not(.is-style-wide),
	[class*=__inner-container]>*:not(.alignwide):not(.alignfull):not(.is-style-wide) {
		margin-right: auto;
		margin-left: auto;
		max-width: map-get($container-max-widths, 'xl');
		padding-right: ($grid-gutter-width / 2);
		padding-left: ($grid-gutter-width / 2);
	}
}

[class*=__inner-container]>*:not(.alignwide):not(.alignfull):not(.is-style-wide) {
	max-width: $max-content-width;
	margin-right: auto;
	margin-left: auto;
}

.alignwide {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}


#inner-content {
	padding-top: 2rem;
	padding-bottom: 2rem;

	.page-template-no-banner & {
		padding-top: 0;
	}

	// titles

	.page-title,
	.single-title {
		margin-top: 0;
	}

	// post meta

	.entry-meta {
		font-size: 14px;
		color: $color__tertiary-med;
		list-style: none;

		a {
			color: $color__tertiary-med;
			text-decoration: none;
		}

		span {
			display: inline-flex;
			align-items: center;
			margin: 0 10px 0 0;

			&:not(:last-child):after {
				content: "\00B7";
				margin-left: 13px;
				color: $color__tertiary-med;
				font-weight: 500;
			}

			&.author {
				img {
					display: block;
					border-radius: 15px;
				}
			}
		}
	}

	.tags {
		.tags-title {
			color: $color__tertiary-med;
		}
	}

	.post-navigation {
		width: $max-content-width;
		max-width: 90%;
		margin-right: auto;
		margin-left: auto;

		.nav-links {

			.nav-previous,
			.nav-next {
				flex: 0 1 auto;
				margin-bottom: 1em;
				margin-top: inherit;

				a {
					text-decoration: none;
				}

				p {
					margin: 0;

					&.post-title {
						font-size: 1.2em;
						font-weight: bold;
						line-height: 1.2;
					}
				}
			}

			.nav-next {
				text-align: left;
			}
		}
	}
}

.blog,
.archive,
.search {
	#inner-content {
		.page-header {
			margin-bottom: 1em;
		}

		article {
			padding-top: 1em;
			padding-bottom: 1em;

			.entry-title {
				// hyphenate long words
				overflow-wrap: break-word;
				word-wrap: break-word;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				-moz-hyphens: auto;
				hyphens: auto;
				font-size: 1.25rem;
				margin-bottom: 0;

				svg {
					width: 20px;
					height: auto;
					vertical-align: -3px;
				}
			}

			.entry-meta {
				margin-top: 0;
				margin-bottom: 1em;
			}

		}
	}
}

.entry-footer {
	width: $max-content-width;
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
	clear: both;

	> span {
		display: inline-block;
	}

	.posted-on {
		margin-right: 1rem;
	}

	.cat-links {
		display: block;
	}
}

.single {
	#inner-content {

		.entry-header {

			.entry-title {
				margin-top: 0;
				margin-bottom: 0;
			}

		}

		.entry-footer {
			border-top: 1px solid;
			padding: 2rem 0;

			.posted-by span {
				display: block;
			}

			.post-taxonomies {
				margin-top: 2rem;
			}
		}

	}
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.sidebar {
	margin-top: 2em;
}

/*************************
 * FOOTER
 ************************/

#colophon {
	clear: both;

	.copyright {
		margin-bottom: 0;
		text-align: center;
	}
}

#inner-footer {
	padding-top: 2em;
	padding-bottom: 2em;

	.sidebar {
		margin-top: 0;
	}
}

ul.footer-menu {
	margin: 0 1px;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 -1px;
		padding: 0;

		a {
			border-left: 1px solid $color__tertiary-med;
			color: $color__tertiary-med;
			display: block;
			line-height: 1;
			padding: 0 0.675em;
		}

		&:first-child {
			a {
				padding-left: 0;
				border-left: 0;
			}
		}

		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}

	ul.sub-menu {
		display: none; // hide child ul as design does not support it
	}
}

// scroll to top link
#back-top {
	margin: 0;
	bottom: 25px;
	right: 30px;
	position: fixed;
	z-index: 9999;

	a {
		background-color: rgba(0,0,0,0.55);
		color: #FFF;
		display: block;
		font-size: 1.675em;
		height: 1.675em;
		text-align: center;
		text-decoration: none;
		width: 1.675em;
		border-radius: 500px;
		@include transition(background-color 0.5s ease-in-out);

		&:hover,
		&:focus {
			background-color: #000;
		}
	}

	.fas {
		line-height: 1.675em;
	}
}
