/******************************************************************
Site Name:
Author:

Stylesheet: Editor Stylesheet

This stylesheet is only for the wysiwyg editor. We will import
our typography styles and bootstrap grid. Add any additional
custom styles here.

******************************************************************/

@import "utilities/all-utilities";

@import "elements/typography";
@import "elements/links";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";
@import "elements/default-blocks";
@import "elements/bootstrap-grid";

/* Main column width */
.wp-block {
    max-width: $max-content-width;
}

.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block[data-align="wide"] {
	max-width: 1200px;
}

