// WooCommerce Color Variables
//------------------------------------------------------------------------------
$woocommerce:            $color__primary;
$woocommerce-white:      #fff;
$woocommerce-light-fog:  #f8f8f8;
$woocommerce-fog:        grey;
$woocommerce-dark-gray:  darkgrey;
$woocommerce-gray:       #777;
$woocommerce-light-gray: lightgray;
$woocommerce-black:      #000;
$woocommerce-green:      #85ad74;
$woocommerce-red:        #b13c42;
$woocommerce-orange:     #f78a51;
$woocommerce-yellow:     #ffce4d;
$woocommerce-blue:       #418bb6;

// Global Base Colors
//------------------------------------------------------------------------------
$woocommerce-base-border-color:     rgba(0,0,0,.1);
$woocommerce-price-color:           $woocommerce-green;
$woocommerce-price-from-color:      lighten( $woocommerce-price-color, 20 );
$woocommerce-stock-color:           $woocommerce-green;
$woocommerce-out-of-stock-color:    $woocommerce-red;
$woocommerce-tabs-border-color:     blue;
$woocommerce-tabs-bg-color:         $woocommerce-light-fog;
$woocommerce-tabs-link-color:       blue;
$woocommerce-tabs-link-color-hover: blue;

// Password Form Colors
//------------------------------------------------------------------------------
$woocommerce-pw-bg-color-strong:     lighten($woocommerce-green, 15);
$woocommerce-pw-border-color-strong: $woocommerce-green;
$woocommerce-pw-bg-color-short:      lighten( $woocommerce-red, 15 );
$woocommerce-pw-border-color-short:  $woocommerce-red;
$woocommerce-pw-bg-color-bad:        lighten( $woocommerce-orange, 15 );
$woocommerce-pw-border-color-bad:    $woocommerce-orange;
$woocommerce-pw-bg-color-good:       lighten( $woocommerce-yellow, 15 );
$woocommerce-pw-border-color-good:   $woocommerce-yellow;

// Button Colors
//------------------------------------------------------------------------------
$woocommerce-primary:               $woocommerce;
$woocommerce-primary-text:          $woocommerce-white;
$woocommerce-secondary:             $woocommerce-light-fog;
$woocommerce-secondary-text:        $woocommerce-dark-gray;

// $woocommerce-alt-button-bg-color:       $cta-button-bg-color;
// $woocommerce-alt-button-color:          $cta-button-font-color;
// $woocommerce-alt-button-bg-color-hover: $cta-button-bg-color-hover;
// $woocommerce-alt-button-color-hover:    $cta-button-font-color-hover;

// Message Colors
//------------------------------------------------------------------------------
$woocommerce-message-border-color:       $woocommerce-green;
$woocommerce-message-color:              $woocommerce-green;
$woocommerce-message-info-border-color:  $woocommerce-blue;
$woocommerce-message-info-color:         $woocommerce-blue;
$woocommerce-message-error-border-color: $woocommerce-red;
$woocommerce-message-error-color:        $woocommerce-red;

$woocommerce-coupon-border-color:        $woocommerce-fog;
$woocommerce-star-rating-color:          $woocommerce-yellow;
$woocommerce-order-details-border-color: $woocommerce-fog;

// Content Colors
//------------------------------------------------------------------------------
$woocommerce-highlight:      $woocommerce-green;
$woocommerce-highlight-text: $woocommerce-white;
$woocommerce-content-bg:     $woocommerce-white;
$woocommerce-sub-text:       $woocommerce-gray;

// Pagination Colors
//------------------------------------------------------------------------------
// $woocommerce-pagination-background-color:         $pagination-bg-color;
// $woocommerce-pagination-background-color-hover:   $pagination-bg-color-hover;
// $woocommerce-pagination-current-background-color: $pagination-current-bg-color;
// $woocommerce-pagination-link-color:               $pagination-link-color;
// $woocommerce-pagination-border-color:             $base-border-color;
// $woocommerce-pagination-border-color-hover:       $base-border-color;
