/******************************************************************
Site Name:
Author:

Stylesheet: Utility Classes

******************************************************************/

//
// Images
//

.img-border {
	border: 1px solid #CCC;
	padding: 5px;
}

.img-rounded {
	@include border-radius(6px);
}

.img-polaroid {
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
	padding: 4px;
}

.img-circle {
	@include border-radius(500px);
}


//
// Typography
//

// use the best ampersand
// http://simplebits.com/notebook/2008/08/14/ampersands-2/
span.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}


//
// Floats
//

.float-left {
	float: left;
}

.float-none {
	float: none;
}

.float-right {
	float: right;
}


//
// Clears
//

.clear-left {
	clear: left;
}

.clear-both,
.clear {
	clear: both;
}

.clear-right {
	clear: right;
}

// Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
// @see _mixins.scss
%clearfix {
	zoom: 1;

	&:after,
	&:before {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}


//
// Visibility
//

// Hide from both screenreaders and browsers
.koutabase-hidden {
	display: none !important;
	visibility: hidden;
}

// Hide only visually, but have it available for screenreaders
.koutabase-visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard
.koutabase-visuallyhidden.focusable:active,
.koutabase-visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

// Hide visually and from screenreaders, but maintain layout
.koutabase-invisible {
	visibility: hidden;
}