/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/

//
// Fonts
//

$font__sans: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
$font__headings: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
$font__serif: Georgia, Times, "Times New Roman", serif;


//
// Sizes
//

$size__font-default: 16px;
$border-radius: 0;

//
// Colors
//

$color1: rgba(36, 123, 160, 1);
$color2: rgba(112, 193, 179, 1);
$color3: rgba(178, 219, 191, 1);
$color4: rgba(243, 255, 189, 1);
$color5: rgba(255, 22, 84, 1);

// Color Scheme
$color__body-bg:       #ffffff;
$color__body-text:     #111;
$color__primary:       $color1;
$color__secondary:     $color2;
$color__tertiary:      #f8f8f8;
$color__tertiary-dark: #111;
$color__tertiary-med:  #575757;
$color__tertiary-light:#ccc;

$color__link:       $color__body-text;
$color__link-hover: $color__primary;

$color__placeholder-text: #999;

$color__alert-yellow: #f1c40f;
$color__alert-red:    #c0392b;
$color__alert-green:  #7ad03a;
$color__alert-blue:  #2ea2cc;

// Social Media
$color__facebook:    #3b5998;
$color__twitter:     #1da1f2;
$color__linkedin:    #007bb5;
$color__google-plus: #db4437;
$color__youtube:     #ff0000;
$color__vimeo:       #1ab7ea;
$color__instagram:   #c32aa3;
$color__pinterest:   #bd081c;


//
// Forms
// Integrated with SelectWoo and Gravity Forms
//

$input__height: 35px;
$input__border-color: #7e8993;
$input__border-focus-color: darken($input__border-color, 10%);
$input__bg-color: #F9F9F9;
$input__bg-focus-color: #FFF;


//
// Tables
//

$table__border-color: #000;
$table__bg-th-color: transparent;
$table__bg-even-color: transparent;
$table__bg-odd-color: transparent;

$separator__border-width: 1px;
$separator__border-color: #000;

$pullquote__border-color: #000;


//
// Grid Settings
//

$max-content-width: 770px;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1170px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns:			12 !default;
$grid-gutter-width:		30px !default;

$baseline-unit: 10px;
$spacing-horizontal: calc(2 * $baseline-unit * 0.6);
$aligndefault-width: calc(100vw - $spacing-horizontal);


//
// Plugin Path
//

$plugins-path: "/wp-content/plugins/";
