/******************************************************************
Site Name:
Author:

Stylesheet: SelectWoo Stylesheet

* Modified to remove gradients, drop shadows, and better integration with theme
* Includes only the default theme

Version: 2.1

https://github.com/woocommerce/selectWoo

Select2 gives you a customizable select box with support for searching, tagging, remote data sets, infinite scrolling, and many other highly used options.

******************************************************************/

.select2-container {
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100%;
}

.select2-container,
.select2-selection--single,
.select2-selection--multiple,
.select2-search__field,
.select2-dropdown,
.select2-selection--multiple .select2-selection__rendered {
	// Force border-box so that % widths fit the parent
	// container without overlap because of margin/padding.
	// More Info : http://www.quirksmode.org/css/box.html
	@include box-sizing(border-box);
}

.select2-container .select2-selection--single {
	cursor: pointer;
	display: block;
	height: $input__height;
	user-select: none;
	-webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	display: block;
	padding-left: 8px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
	position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
	padding-right: 8px;
	padding-left: 20px;
}

.select2-container .select2-selection--multiple {
	cursor: pointer;
	display: block;
	min-height: $input__height;
	user-select: none;
	-webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
	display: inline-block;
	overflow: hidden;
	padding-left: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select2-container .select2-search--inline {
	float: left;
}

.select2-container .select2-search--inline .select2-search__field {
	border: none;
	font-size: 100%;
	margin-top: 5px;
	padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.select2-container--focus .select2-selection,
.select2-container--open .select2-selection {
	background-color: $input__bg-focus-color;
	border: 1px solid $input__border-focus-color;
	outline: 0;
}

.select2-container--open.select2-container--below .select2-selection {
	border-bottom: 0;
}

.select2-container--open.select2-container--above .select2-selection {
	border-top: 0;
}

.select2-dropdown {
	background-color: $input__bg-focus-color;
	border: 1px solid $input__border-focus-color;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
}

.select2-results {
	display: block;
}

.select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0;
	outline: 0;
}

.select2-results__option {
	padding: 6px;
	margin: 0;
	user-select: none;
	-webkit-user-select: none;
}

.select2-results__option[data-selected] {
	cursor: pointer;
	outline: none;
}

.select2-container--open .select2-dropdown {
	left: 0;
}

.select2-container--open .select2-dropdown--above {
	border-bottom: none;
}

.select2-container--open .select2-dropdown--below {
	border-top: none;
}

.select2-search--dropdown {
	display: block;
	padding: 4px;
}

.select2-search--dropdown .select2-search__field {
	padding: 4px;
	width: 100%;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
	display: none;
}

.select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: #fff;
	filter: alpha(opacity = 0);
}

.select2-hidden-accessible {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.select2-selection--single {
	background-color: $input__bg-color;
	border: 1px solid $input__border-color;
}

.select2-selection--single .select2-selection__rendered {
	color: $color__body-text;
	line-height: $input__height;
}

.select2-selection--single .select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: bold;
}

.select2-selection--single .select2-selection__placeholder {
	color: #666;
}

.select2-selection--single .select2-selection__arrow {
	height: $input__height;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
}

.select2-selection--single .select2-selection__arrow b {
	border-color: #666 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__clear {
	float: left;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__arrow {
	left: 1px;
	right: auto;
}

.select2-container--disabled .select2-selection--single {
	background-color: #eee;
	cursor: default;
}

.select2-container--disabled .select2-selection--single .select2-selection__clear {
	display: none;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #666 transparent;
	border-width: 0 4px 5px 4px;
}

.select2-selection--multiple {
	background-color: $input__bg-color;
	border: 1px solid $input__border-color;
	cursor: text;
}

.select2-selection--multiple .select2-selection__rendered {
	list-style: none;
	margin: 0;
	padding: 0 5px;
	width: 100%;
}

.select2-selection--multiple .select2-selection__rendered li {
	list-style: none;
}

.select2-selection--multiple .select2-selection__placeholder {
	color: #666;
	margin-top: 5px;
	float: left;
}

.select2-selection--multiple .select2-selection__clear {
	cursor: pointer;
	float: right;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 10px;
}

.select2-selection--multiple .select2-selection__choice {
	background-color: #e4e4e4;
	border: 1px solid #666;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	padding: 0 5px;
}

.select2-selection--multiple .select2-selection__choice__remove {
	color: #999;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 2px;
}

.select2-selection--multiple .select2-selection__choice__remove:hover {
	color: #333;
}

.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container[dir="rtl"] .select2-selection--multiple .select2-search--inline {
	float: right;
}

.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
	margin-left: 5px;
	margin-right: auto;
}

.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
	margin-left: 2px;
	margin-right: auto;
}

.select2-container--focus .select2-selection--multiple {
	border: 1px solid $input__bg-focus-color;
	outline: 0;
}

.select2-container--disabled .select2-selection--multiple {
	background-color: #eee;
	cursor: default;
}

.select2-container--disabled .select2-selection__choice__remove {
	display: none;
}

.select2-search--dropdown .select2-search__field {
	border: 1px solid $input__border-color;
	height: 32px;
}

.select2-search--inline .select2-search__field {
	background: transparent;
	border: none;
	outline: 0;
	box-shadow: none;
	-webkit-appearance: textfield;
}

.select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
}

.select2-results__option:empty {
	display: none;
}

.select2-results__option[role=group] {
	padding: 0;
}

.select2-results__option[aria-disabled=true] {
	color: #999;
}

.select2-results__option[data-selected=true] {
	background-color: $color__body-text;
	color: #FFF;
}

.select2-results__option .select2-results__option {
	padding-left: 1em;
}

.select2-results__option .select2-results__option .select2-results__group {
	padding-left: 0;
}

.select2-results__option .select2-results__option .select2-results__option {
	margin-left: -1em;
	padding-left: 2em;
}

.select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -2em;
	padding-left: 3em;
}

.select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -3em;
	padding-left: 4em;
}

.select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -4em;
	padding-left: 5em;
}

.select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
	margin-left: -5em;
	padding-left: 6em;
}

.select2-results__option--highlighted[aria-selected] {
	background-color: $color__body-text;
	color: white;
}

.select2-results__group {
	cursor: default;
	display: block;
	padding: 6px;
}
