a.button,
button.button,
input.button,
#respond input#submit {
	border-radius: $border-radius;

	&.disabled,
	&:disabled,
	&:disabled[disabled],
	&.disabled:hover,
	&:disabled:hover,
	&:disabled[disabled]:hover,
	&.disabled:focus,
	&:disabled:focus,
	&:disabled[disabled]:focus {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&.alt {

		&:hover,
		&:focus {

		}

		&.disabled,
		&:disabled,
		&:disabled[disabled],
		&.disabled:hover,
		&:disabled:hover,
		&:disabled[disabled]:hover,
		&.disabled:focus,
		&:disabled:focus,
		&:disabled[disabled]:focus {
			background-color: $color__tertiary;
			color: inherit;
		}
	}
}

.cart .button,
.cart input.button {
	float: none;
}

a.added_to_cart {
	white-space: nowrap;
}

.add_to_cart_button,
.single_add_to_cart_button {
	&:before {
		display: inline-block;
		font-family: "WooCommerce";
		float: left;
		content: "\e01d";
		font-weight: 300;
		margin-right: 1em;
	}
}

.single_add_to_cart_button {
	width: calc(100% - 65px);
}

#place_order,
.checkout-button {
	@include button;
	@include button-color($color__secondary, #FFF);
	@include button-lg;
	@include button-full;
}
