// Cart Page
//---------------------------------------------

.woocommerce-cart-form {

    table {
		border: 1px solid $table__border-color;
		margin: 0;

        thead {
            th {
				background-color: transparent;
				border: 0;
			}
        }
        tr {
            background: transparent;
			border: 1px solid $input__border-color;

            td {
				border: 0;
				vertical-align: middle;
            }

            .product-thumbnail {
                img {
                    width: 50px;
                }
            }
		}

		.actions {
			background: $color__tertiary-light;

			.coupon {
				float: left;

				label {
					clip: rect(1px, 1px, 1px, 1px);
					position: absolute !important;
					height: 1px;
					width: 1px;
					overflow: hidden;
					word-wrap: normal !important;
				}

				input[type="text"] {
					max-width: 150px;
					border: 1px solid $input__border-color;
				}

				button {
					float: none;
					background-color: transparent;
					color: $color__body-text;
					padding-left: 2em;
					padding-right: 2em;

				}

			}

			button {
				float: right;

				@media (max-width:768px) {
					float: none;
					width: 100%;
				}
			}

			@media (max-width:768px) {
				float: none;

				input[type="text"] {
					max-width: none;
				}
			}

		}

	}

	@media (max-width:768px) {
		table {

			thead {
				display: none;
			}

			tr {
				display: block;

				td {
					display: block;
					text-align: right!important;
					border-top: 1px solid rgba(0,0,0,.1);

					&:before {
						content: attr(data-title) ": ";
						font-weight: 700;
						float: left;
					}

					&.product-thumbnail {
						display: none;
					}

					&.product-remove,
					&.actions {
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
}

.cart-collaterals {
	display: flex;
	flex-wrap: wrap;

	h2 {
		font-size: 1.5em;
	}
}

.cross-sells {
	flex: 1 0 50%;
}

.cart_totals {
	position: relative;
	background-color: #f8f8f8;
	padding: 2em;
	list-style: none;
	margin-top: 2em;
	flex: 1 0 50%;

	table {
		td,
		tr,
		th {
			background-color: transparent;
			border: 0;
		}

		th {
			font-weight: bold;
			vertical-align: top;
		}
	}

	#shipping_method {
		list-style: none;

		li {
			margin-left: 0;
		}
	}
}

ul.cart_list,
ul.product_list_widget {
	list-style: none outside;
	padding: 0;
	margin: 0;

	li {
		padding: 4px 0;
		margin: 0;
		list-style: none;

		a {
			display: block;
			font-weight: 700;
		}

		img {
			float: right;
			margin-left: 4px;
			width: 32px;
			height: auto;
			margin-right: 10px;
			box-shadow: none;
		}

		dl {
			margin: 0;
			padding-left: 1em;
			border-left: 2px solid rgba(#333, 0.1);

			dt,
			dd {
				display: inline-block;
				float: left;
				margin-bottom: 1em;
			}

			dt {
				font-weight: 700;
				padding: 0 0 0.25em;
				margin: 0 4px 0 0;
				clear: left;
			}

			dd {
				padding: 0 0 0.25em;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		.star-rating {
			float: none;
		}
	}
}

.product_list_widget {
	.variation {
		display: none;
	}
}
