a.remove {
	display: block;
	font-size: 1.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	line-height: 1;
	border-radius: 100%;
	color: red;
	text-decoration: none;
	font-weight: 700;
	border: 0;

	&:hover {

	}
}

.woocommerce-NoticeGroup {
    width: 100%;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
	padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
	position: relative;
	background-color: #f8f8f8;
	color: #333;
	//border-top: 3px solid $color__alert-blue;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;

	&:before {
		font-family: "WooCommerce";
		content: "\e028";
		display: inline-block;
		position: absolute;
		top: 1em;
		left: 1.5em;
	}

	.button {
		float: right;
		background: $color__primary;
		padding: 0 10px;
		color: #fff;
	}

	li {
		list-style: none outside;
		padding-left: 0;
		margin-left: 0;
	}
}

.woocommerce-message {
	border-top-color: $color__alert-blue;

	&:before {
		content: "\e015";
		color: $color__alert-blue;
	}
}

.woocommerce-info {
	border-top-color: $color__alert-blue;

	&:before {
		color: $color__alert-blue;
	}
}

.woocommerce-error {
	border-top-color: $color__alert-red;

	&:before {
		content: "\e016";
		border-top-color: $color__alert-red;
	}
}

small.note {
	display: block;
	font-size: .857em;
	margin-top: 10px;
}

.woocommerce-breadcrumb {
    width: 100%;
    margin-bottom: 1em;
    font-size: 1em;
    color: #444;
    font-weight: 300;

	.delimiter {
		margin: 0 1em;
	}

	a {
		color: #444;
	}

	@media (max-width:768px) {
		display: none;
	}
}

.term-description {
	padding: 0 0 1em 0;
}

.quantity {
	.qty {
		width: 3.631em;
		height: 46px;
		text-align: center;
	}
}

mark {
	background: transparent;
	text-decoration: none;
	font-weight: 600;
}

.woocommerce-store-notice {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 1em;
    margin: 0;
}
