.woocommerce-cart {

	.woocommerce-cart {
	table.cart {
		.product-thumbnail {
			min-width: 32px;
		}

		img {
			width: 32px;
			box-shadow: none;
		}

		th,
		td {
			vertical-align: middle;
		}

		td.actions {
			.coupon {
				.input-text {
					float: left;
					border: 1px solid;
					margin-right: 4px;
					padding: 15px;
				}
			}
		}

		input {
			margin: 0;
			vertical-align: middle;
			line-height: 1;
		}
	}

	.wc-proceed-to-checkout {
		@include clearfix;
		padding: 1em 0;

		a.checkout-button {
			display: block;
			text-align: center;
			margin-bottom: 1em;
			font-size: 1.25em;
			padding: 1em;
		}
	}

	.cart-collaterals {
		display: flex;
		flex-wrap: wrap;

		.shipping_calculator {
			.button {
				width: 100%;
				float: none;
				display: block;
			}

			.shipping-calculator-button {
				&:after {
				}
			}
		}

		.cart_totals {
			flex: 1 0 50%;
			p {
				small {
					font-size: 0.83em;
				}
			}

			table {
				border-collapse: separate;
				margin: 0 0 6px;
				padding: 0;

				tr:first-child {
					th,
					td {
						border-top: 0;
					}
				}

				th {
					width: 40%;
				}

				td,
				th {
					vertical-align: top;
					border-left: 0;
					border-right: 0;
					line-height: 1.5em;
				}

				select {
					width: 100%;
				}
			}

			.discount td {
			}

			tr td,
			tr th {
				border-top: 1px solid;
			}
		}

		.cross-sells {
			flex: 1 0 50%;
			ul.products {
				li.product {
					margin-top: 0;
				}
			}
		}
	}
}

}
