.woocommerce-password-strength {
	text-align: center;
	font-weight: 600;
	padding: 3px .5em;
	font-size: 1em;

	&.strong {
		background-color: $woocommerce-pw-bg-color-strong;
		border-color: $woocommerce-pw-border-color-strong;
	}

	&.short {
		background-color: $woocommerce-pw-bg-color-short;
		border-color: $woocommerce-pw-border-color-short;
	}

	&.bad {
		background-color: $woocommerce-pw-bg-color-bad;
		border-color: $woocommerce-pw-border-color-bad;
	}

	&.good {
		background-color: $woocommerce-pw-bg-color-good;
		border-color: $woocommerce-pw-border-color-good;
	}
}

.woocommerce-password-hint {
	margin: 0.5em 0 0;
	display: block;
}