// Added to get around variation image flicker issue.
.product.has-default-attributes.has-children {
	> .images {
		opacity: 0;
	}
}

a.cart-contents {
    display: flex;
	align-items: center;
	justify-content: flex-end;

	.count {
		background: $color__primary;
		margin-right: 10px;
		border-radius: 100%;
		color: #fff;
		min-width: 24px;
		text-align: center;
	}
}

.mise-product-pagination a[rel=prev] {
    left: -455px;
    -webkit-transition: left .3s ease-out;
    transition: left .3s ease-out;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
	padding-left: 1em;

	&:hover {
		left: 0;
	}

	img {
		margin-left: 1.41575em;
	}

	.mise-product-pagination__title {
		margin-right: auto;
	}

	&:after {
		content: "\f104";
		padding-right: 1.41575em;
	}
}

.mise-product-pagination a[rel=next] {
    right: -455px;
    -webkit-transition: right .3s ease-in;
    transition: right .3s ease-in;
	padding-right: 1em;

	&:hover {
		right: 0;
	}

	img {
		margin-right: 1.41575em;
	}

	.mise-product-pagination__title {
		margin-left: auto;
	}

	&:after {
		content: "\f105";
		padding-left: 1.41575em;
	}
}

.mise-product-pagination a {
    position: fixed;
    top: 50%;
    width: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    z-index: 1499;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
	align-items: center;
	color: #6d6d6d;
	background-color: #ffffff;

	img {
		max-width: 90px;
		border-radius: 0;
		display: block;
	}

	&:after {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 1;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		line-height: inherit;
		vertical-align: baseline;
	}
}

.mise-product-pagination {
	@media (max-width:768px) {
		display: none;
	}
}
