.woocommerce-account {
	.addresses {
		.title {
			@include clearfix();

			h3 {
				float: left;
			}

			.edit {
				float: right;
					@include button;
					@include button-color($color__tertiary, #111);
					@include button-lg;
					@include button-wide;
			}
		}

		.woocommerce-Address {
			border: 1px solid rgba(0,0,0,.1);
			padding: 1em;
			margin-bottom: 2em;
			border-radius: $border-radius;

			h3 {
				margin-top: 0;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight: 700;
				margin-bottom: 0;
			}

			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&::before {
				@include woocommerce-icon-before( "\e00a" );
			}

			.count {
				float: right;
			}
		}
	}

	.entry-content {

		.woocommerce {
			display: flex;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;

			.col2-set {
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				.woocommerce-notices-wrapper {
					width: 100%;
					flex: 0 0 100%;
				}

				.col-1,
				.col-2 {
					width: 100%;
					flex: 0 0 100%;

					@media (min-width:992px) {
						-webkit-box-flex: 0;
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
					}
				}
			}

			.woocommerce-MyAccount-navigation {
				margin-bottom: 2em;
				flex: 0 0 100%;

				ul {
					margin-top: 0;
					margin-left: 0;
					display: flex;
					flex-wrap: wrap;
					line-height: 1;
					font-size: 1.3em;
					list-style: none;

					> li {
						margin-left: 0;
						margin-bottom: .6em;

						@media (min-width:992px) {
							width: 33.333%;
						}

						a {
							display: block;
							border-radius: 5px;
							padding: 20px 0;
							border: 1px solid #ddd;
							text-align: center;
							margin-right: 10px;
							transition: all .3s;

							&:hover,
							&:focus {
								background: $color__primary;
								color: #fff;
							}
						}
					}
				}
			}

			.woocommerce-MyAccount-content {
				flex: 0 0 100%;
				padding: 15px;
			}
		}



		.woocommerce-MyAccount-content {
			background: #f8f8f8;
			margin-bottom: 2em;
		}

	}

}


