.woocommerce-checkout,
#add_payment_method {
	.checkout {
        .col-1 {
            max-width: none;
            flex: 0 0 100%;
        }
		.col-2 {
            max-width: none;
            flex: 0 0 100%;

			h3#ship-to-different-address {
				float: left;
				clear: none;
			}

			.notes {
				clear: left;
			}

			.form-row-first {
				clear: left;
			}
        }

		.create-account small {
			font-weight: normal;
		}

		div.shipping-address {
			padding: 0;
			clear: left;
			width: 100%;
		}

		.shipping_address {
			clear: both;
		}
	}

	#payment {

		ul.payment_methods {
			text-align: left;
			margin: 0;
			list-style: none outside;

			li {
				line-height: 2;
				text-align: left;
				margin: 0 0 -1px;
				list-style-type: none;
				font-weight: normal;
				@include clearfix;
				overflow: hidden;
				padding: 10px;
				border: 0;

				label {
					display: inline;
					cursor: pointer;
				}

				input {
					margin: 0 1em 0 0;
				}

				img {
					vertical-align: middle;
					margin: -2px 0 0 .5em;
					padding: 0;
					position: relative;
					box-shadow: none;
				}

				img + img {
					margin-left: 2px;
				}
			}
		}

		div.payment_box {
			position: relative;
			box-sizing: border-box;
			width: 100%;
			padding: 1em;
			margin: 1em 0;
			font-size: 0.92em;
			border-radius: 2px;
			line-height: 1.5;
			background-color: $color__primary;
			color: #fff;

			fieldset {
				border: 0;
				padding: 0;
				margin-left: -10px;
				margin-right: -10px;

				.form-row {
					float: left;
					width: 50%;
					padding: 5px 10px;

					&.form-row-wide {
						width: 100%;
					}
				}
			}

			a {
				color: $color__primary;
			}


			input.input-text, textarea {
				border-color: #333;
				border-top-color: #333;
			}

			::-webkit-input-placeholder {
				color: #333;
			}

			:-moz-placeholder {
				color: #333;
			}

			:-ms-input-placeholder {
				color: #333;
			}

			span.help {
				font-size: 0.857em;
				font-weight: normal;
			}

			.form-row {
				margin: 0 0 1em;
			}

			p:first-child {
				margin-top: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}

			&:before {
				content: "";
				display: block;
				border: 1em solid $color__primary; /* arrow size / color */
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position: absolute;
				top: -.75em;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}

		.payment_method_paypal {
			.about_paypal {
				float: right;
				line-height: 52px;
				font-size: 0.83em;
			}

			img {
				max-height: 52px;
				vertical-align: middle;
			}
		}
	}
}

form.woocommerce-checkout {

	.woocommerce-billing-fields {
		h3 {
			margin-top: 0;
		}
	}

	@media (min-width:992px) {
		.page-template-default & {
			display: flex;
			flex-wrap: wrap;
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	#order_review_heading {
		display: none;
	}

	#ship-to-different-address {
		font-size: 1em;
		font-family: $font__sans;
		font-weight: normal;
	}

	#customer_details {

		@media (min-width:992px) {
			flex: 0 0 60%;
		}
	}

	#order_review {
		background: $color__tertiary;
		padding: 1em;

		@media (min-width:992px) {
			flex: 0 0 40%;
		}
	}

	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-shipping-fields__field-wrapper {
		@media ( min-width:992px ) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 15px;

			.form-row {
				margin: 0;

				&.form-row-wide {
					grid-column: span 2;
				}

				&#billing_postcode_field,
				&#billing_city_field,
				&#shipping_postcode_field,
				&#shipping_city_field {
					grid-column: span 1;
				}
			}
		}
	}

	.woocommerce-privacy-policy-text {
		text-align: center;
		font-size: 0.8em;
		line-height: 1.5;
		font-style: italic;
	}
}

.woocommerce-order-pay {

	.woocommerce {
		text-align: center;
	}

	.order_details {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.checkout-banks {
		border: 0;
	}
}

.woocommerce-order {

	.woocommerce-columns--addresses {
		display: flex;
		flex-wrap: wrap;

		.col-1,
		.col-2 {
			max-width: none;
			flex: 1 0 100%;

            @media (min-width:768px) {
				max-width: 50%;
            	flex: 1 0 50%;
			}
		}
	}

	.woocommerce-thankyou-order-received {
		text-align: center;
		font-size: 2.45em;
		line-height: 1.3;
		margin: 0.83em 0;
		font-family: $font__headings;
		font-weight: 300;
	}

	.woocommerce-order-overview,
	.woocommerce-order-details {
		position: relative;
		margin: 3.706325903em 0;
		background-color: #f8f8f8;
		padding: 2em;
		list-style: none;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: -16px;
			left: 0;
			width: 100%;
			height: 16px;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);

		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: auto;
			bottom: -16px;

			left: 0;
			width: 100%;
			height: 16px;
		}

		&:before,
		&:after {
			background: linear-gradient(-135deg, #f8f8f8 8px,rgba(0,0,0,0) 0%) 0 8px,linear-gradient(135deg, #f8f8f8 8px,rgba(0,0,0,0) 0%) 0 8px;
			background-position: top left;
			background-repeat: repeat-x;
			background-size: 16px 16px;
		}

		> li {
			border-bottom: 1px dotted #e3e3e3;

			padding: 1em 1.618em;
			font-size: 1em;
			text-transform: uppercase;
			margin-left: 0;

			&:first-child {
				padding-top: 1.618em;
			}

			&:last-child {
				border: 0;
				padding-bottom: 1.618em;
			}
		}

	}

	.wc-item-meta {
		list-style: none;

		li {
			p {
				margin-top: 0;
				margin-bottom: .5em;
			}
		}
	}
}

.woocommerce-form-coupon-toggle,
.woocommerce-form-login-toggle {
	.woocommerce-info {
		border: 0;
		background-color: transparent;
		padding: 0;

		&:before {
			display: none;
		}

		a {
			border-bottom: 2px solid #181818;
		}
	}
}
