.page .page-content,
.entry-content,
.col-1,
.col-2 {
    max-width: none;
}

.ordering-wrapper {
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 1em 0;

	@media (min-width:768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
