// Product Page
//---------------------------------------------
.has-right-sidebar,
.has-left-sidebar{

	div.product {
		div.summary {
			padding: 3em 2em;
		}
	}

}


div.product {
	margin-bottom: 0;
    position: relative;

    @media(min-width:992px) {
        display: flex;
		flex-wrap: wrap;
	}

	.product_title {
		clear: none;
		margin-top: 0;
        padding: 0;
        font-size: 2em;
        margin-bottom: 0;
	}

	span.price,
	p.price {
		font-family: $font__headings;
		font-weight: 700;
		color: $color__primary;

		.woocommerce-price-suffix {
			font-weight: normal;
			color: $color__tertiary-med;
		}

		ins {
			background: inherit;
			font-weight: 700;
			text-decoration: none;
		}

		del {
			color: inherit;
			opacity: 0.5;
			position: relative;
			text-decoration: none;
			padding: 0 8px;

			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				left: 0;
				border-color: inherit;
				border-top-width: 1px;
				border-top-style: solid;
				content: "";
				-webkit-transform: rotate(-20deg);
				transform: rotate(-20deg);
			}
		}
	}

	p.stock {
		font-size: 0.92em;
	}

	.woocommerce-product-rating {
		margin-bottom: 0;
	}

	div.images {
		margin-bottom: 2em;
        position: relative;

        @media(min-width:992px) {
			flex: 0 0 60%;
			max-width: 60%;
        }

        .woocommerce-product-gallery__wrapper {
			margin: 0;
			transition: all cubic-bezier(.795,-.035,0,1) .5s;
        }

        .woocommerce-product-gallery__trigger {
            position: absolute;
            z-index: 99;
            background: #fff;
            padding: 10px;
            top: 10px;
            right: 10px;
            border-radius: 35px;
        }

		img {
			display: block;
			width: 100%;
			height: auto;
			box-shadow: none;
		}

        .flex-control-nav {
            list-style: none;
            overflow: hidden;
			position: relative;
			margin-top: 1em;

            li {
				margin-left: 0;
				display: inline-block;
				margin-right: 1em;
				cursor: pointer;

				@media (max-width:991px) {
					max-width: 65px;
				}
				img {
					border-bottom: 3px solid transparent;

					@include transition (border-color .3s ease-in-out);

					&:hover,
					&.flex-active {
						border-bottom-color: $color__primary;
					}
				}
            }
        }
	}

	div.summary {
        margin-bottom: 2em;
		padding: 0 2em;
		position: relative;

		@media (max-width:768px) {
			padding: 0;
		}

		ul.variable-item-wrapper {
			background: #f8f8f8;
			margin-bottom: 2em;
			border-radius: 35px;
			position: relative;

			&:before {
				margin-bottom: 3px;
				content: attr(data-title);
				min-width: 98px;
				font-size: 10px;
				line-height: 10px;
				font-weight: bold;
				text-transform: uppercase;
				color: #969696;
				position: absolute;
				display: block;
				top: -15px;
			}

			li {
				float: left;
				height: auto;
				margin: 12px 8px;
				border-radius: 20px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				position: relative;

				&:before {
					content: "";
					position: absolute;
					top: -3px;
					left: -3px;
					width: calc(100% + 6px);
					height: calc(100% + 6px);
					border-radius: 20px;
					border: 1px solid #000;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					opacity: 0;
					transition: opacity 0.2s ease;
				}

				&.selected:before {
					opacity: 1;
				}

				span {
					position: relative;
					padding: 0 2px;
					line-height: 22px;
					border-radius: 20px;
					font-size: 13px;
					font-weight: 500;
					text-align: center;
					display: block;
					cursor: pointer;
					width: 22px;
					height: 22px;
				}
			}
		}

        @media(min-width:992px) {
            flex: 0 0 40%;
            max-width: 40%;
		}

		.product_meta {
			color: #909090;
			font-size: 12px;
			margin: 3em 0;
			padding: 1em 0;
			border-top: 1px solid $color__tertiary;
			border-bottom: 1px solid $color__tertiary;

			& > span {
				display: block;
			}
		}
	}

	div.social {
		text-align: right;
		margin: 0 0 1em;

		span {
			margin: 0 0 0 2px;

			span {
				margin: 0;
			}

			.stButton .chicklets {
				padding-left: 16px;
				width: 0;
			}
		}

		iframe {
			float: left;
			margin-top: 3px;
		}
	}


	.woocommerce-tabs {
        flex: 0 0 100%;
        max-width: 100%;
		margin: 1em 0;
		padding: 2em 0;

		ul.tabs {
			list-style: none;
			padding: 0;
			margin: 0;
			overflow: hidden;
            position: relative;
			text-align: center;
			display: flex;

			li {
				display: inline-block;
				position: relative;
				z-index: 0;
				margin: 0;
				padding: 0;
				flex: 1;

				a {
					display: block;
					font-weight: normal;
					color: #111;
					text-decoration: none;
					padding: .5em 2em;
					border-bottom: 2px solid transparent;

					&:hover {
						text-decoration: none;
						color: $color__link-hover;
					}
				}

				&.active {
					z-index: 2;
					color: #111;


					a {
						color: inherit;
						text-shadow: inherit;
						border-bottom-color: $color__primary;
					}

				}

			}

		}

		.panel {

			&.woocommerce-Tabs-panel--reviews  {
				flex: 0 1 100%;
				width: 100%;
			}
		}

		.shop_attributes {
			td,
			th {
				background: transparent;
				border: 0;
			}
		}
	}

	p.cart {
		margin-bottom: 2em;
	}

	form.cart {
		margin-bottom: 1em;

		div.quantity {
			float: left;
			margin: 0 4px 0 0;
		}

		table {
			border-width: 0 0 1px 0;

			td {
				padding-left: 0;
				padding-right: 0;
			}

			div.quantity {
				float: none;
				margin: 0;
			}

			small.stock {
				display: block;
				float: none;
			}
		}

		.variations {
			margin-bottom: 1em;
			border: 0;
			width: 100%;
			display: block;

			tr,
			tbody {
				background-color: transparent;
				display: block;
            }

			td,
			th {
				border: 0;
				line-height: 2em;
				display: block;
			}

			label,
			.label {
				font-weight: 700;
				margin-bottom: 0;
				padding: 0;
				margin-top: .5em;
			}

			select {
				max-width: 100%;
				min-width: 75%;
				display: inline-block;
				margin-right: 0;
				border: 3px solid $color__primary;
				outline: none;
				border-radius: $border-radius;

				&:focus {
					outline: 0;
					border: 3px border $color__primary;
				}
			}

			td.label {
				padding-right: 0;
			}
		}

		.woocommerce-variation-description {
			p {
				margin-bottom: 1em;
			}
		}

		.reset_variations {
			visibility: hidden;
			font-size: 0.83em;
			display: none !important;
		}

		.wc-no-matching-variations {
			display: none;
		}

		.group_table {
			td.label {
				padding-right: 1em;
				padding-left: 1em;
			}

			td {
				vertical-align: top;
				padding-bottom: .5em;
				border: 0;
			}
		}
	}

	.related,
	.up-sells {
        flex: 0 0 100%;
	}
}

span.onsale {
	padding: .202em .5em;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	margin: 0;
	background-color: #333;
	border-radius: $border-radius;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

.woocommerce-variation-add-to-cart {
	align-items: center;
	margin-top: 1em;
}

.woocommerce-grouped-product-list {
	tr {
		border-bottom: 1px solid $color__tertiary-light;

		&:nth-child(odd) {
			background-color: transparent;
		}

		td {
			img {
				max-width: 80px;
			}
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}
