.products ul,
ul.products {
	list-style: none;

    li {
		margin-left: 0;
		margin-bottom: 1em;
		position: relative;
    }
}

ul.products,
.products-slider {
	li.product,
	div.product {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		> a {
			@include transition(all .3s ease-in-out);
		}

		&.last {
			margin-right: 0;
		}

		.count {
			display: none;
			background: transparent;
		}

		.onsale {
			top: 10px;
			left: 10px;
			right: auto;
			margin: 0;
			z-index: 2;
			position: absolute;
			background: $color__primary;
			border-radius: 3px;
			font-size: 12px;
			padding: 3px 15px;
			color: #fff;

		}

		h2 {
			padding: 0;
			font-size: 1em;
			margin: .5em 0 0 0;
			display: -webkit-box;
			max-height: 3.55em;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			-webkit-line-clamp: 2;
			font-weight: normal;
			font-family: $font__sans;
			color: $color__body-text;
		}

		a {
			text-decoration: none;
			position: relative;
			display: block;
		}

		a img {
			width: 100%;
			height: auto;
			display: block;
			margin: 0;
			box-shadow: none;
		}

		strong {
			display: block;
		}

		.star-rating {
			font-size: 0.857em;
		}

		.button {
			margin-top: 0.5em;
			padding: .5em 1.5em;
			border-radius: $border-radius;
			white-space: nowrap;
			text-align: center;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
			z-index: 4;
			background: $color__secondary;
			color: #fff;

			&.added {
				display: none;
			}

			&.loading {
				&:before {
					display: inline-block;
					font-family: "WooCommerce";
					float: left;
					content: "\e031";
					font-weight: 300;
					margin-right: 1em;
					animation: spin 4s linear infinite;
				}
			}

			@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
		}

		.added_to_cart {
			margin-top: 0.5em;
			padding: .5em 1.5em;
			border-radius: $border-radius;
			white-space: nowrap;
			text-align: center;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
			z-index: 4;
			background: $woocommerce-green;
			color: #fff;

			&:before {
				display: inline-block;
				font-family: "WooCommerce";
				float: left;
				content: "\e017";
				font-weight: 300;
				margin-right: 1em;
			}
		}

		.price {
			display: block;
			font-weight: bold;
			margin-bottom: 0.5em;
			font-size: 1.1em;
			color: $color__body-text;

			del {
				color: inherit;
				opacity: 0.5;
				position: relative;
				text-decoration: none;
				padding: 0 8px;

				&:before {
					position: absolute;
					top: 50%;
					right: 0;
					left: 0;
					border-color: inherit;
					border-top-width: 1px;
					border-top-style: solid;
					content: "";
					-webkit-transform: rotate(-20deg);
					transform: rotate(-20deg);
				}
			}

			ins {
				background: none;
				text-decoration: none;

			}

			.from {
				font-size: 0.67em;
				margin: -2px 0 0;
				text-transform: uppercase;
				color: $color__body-text;
			}
		}

		&:hover,
		&:focus {
			border-color: $color__secondary;

			.button {
				background: shade($color__secondary, 10%);
			}
		}

		&.koutabase-has-gallery {
			position: relative;

			.onsale {
				z-index: 2;
			}

			.wp-post-image {
				opacity: 1;
			}

			.wp-post-image--secondary {
				position: absolute;
				top: 0; left: 0;
				opacity: 0;
			}

			a.woocommerce-LoopProduct-link [class*="wp-post-image"] {
				-webkit-transition: opacity .3s ease-in-out;
				-o-transition: opacity .3s ease-in-out;
				transition: opacity .3s ease-in-out;
			}

			a.woocommerce-LoopProduct-link {
				&:hover {
					.wp-post-image {
						opacity: 0;
					}

					.wp-post-image--secondary {
						opacity: 1;
					}
				}
			}
		}
	}
}

.woocommerce-result-count {
	margin: .5em 0;
	float: left;

	@include media-breakpoint-down('md') {
		float: none;
		text-align: center;
	}
}

.woocommerce-ordering {
	float: right;

	select {
		vertical-align: top;
		outline: 0;
		border: 0;
		border-radius: 0;
	}

	@include media-breakpoint-down('md') {
		float: none;
	}
}

nav.woocommerce-pagination {
	text-align: center;

	ul {
		list-style: none;
		text-align: center;
		margin: 2em -2px 1em;
		@include flexbox(flex);
		@include flex-wrap(wrap);
		@include justify-content(center);

		li {
			display: inline-block;
			margin: 2px;
			min-width: 3em;

			&:empty {
				display: none;
				margin: 0;
			}

			a,
			span {
				display: block;
				padding: 0.675em;
				text-align: center;
				border-radius: $border-radius;
			}

			a {
				color: $color__body-text;
				@include transition(all 0.25s ease-in-out);

				&:hover,
				&:focus {
					color: $color__link;
					text-decoration: none;
				}
			}

			span.current {
				color: $color__primary;
				font-weight: bold;
			}
		}
	}
}
