// Reviews
//---------------------------------------------
#reviews {

	h2 small {
		float: right;
		color: $woocommerce-sub-text;
		font-size: 15px;
		margin: 10px 0 0;

		a {
			text-decoration: none;
			color: $woocommerce-sub-text;
		}
	}

	h3 {
		margin: 0;
	}

	#respond {
		margin: 0;
		border: 0;
		padding: 0;
	}

	#comment {
		height: 75px;
	}

	#comments {

		.add_review {
			@include clearfix();
		}

		h2 {
			clear: none;
		}

		ol.commentlist {
			@include clearfix();
			margin: 0;
			width: 100%;
			background: none;

			li {
				padding: 0;
				margin: 0 0 20px;
				border: 0;
				list-style-type: none;
				position: relative;
				background: 0;

				.meta {
					color: $woocommerce-sub-text;
					font-size: 0.75em;
				}

				img.avatar {
					float: left;
					position: absolute;
					top: 0;
					left: 0;
					padding: 3px;
					width: 32px;
					height: auto;
					background: $woocommerce-secondary;
					border: 1px solid darken($woocommerce-secondary, 3%);
					margin: 0;
					box-shadow: none;
				}

				.comment-text {
					@include clearfix();
					margin: 0 0 0 50px;
					border: 1px solid darken($woocommerce-secondary, 3%);
					background: #fff;
					border-radius: 4px;
					padding: 1em 1em 0;

					p {
						margin: 0 0 1em;
					}

					p.meta {
						font-size: 1em;
					}
				}
			}

			ul.children {
				list-style: none outside;
				margin: 20px 0 0 50px;

				.star-rating {
					display: none;
				}
			}

			#respond {
				border: 1px solid darken($woocommerce-secondary, 3%);
				border-radius: 4px;
				padding: 1em 1em 0;
				margin: 20px 0 0 50px;
			}
		}

		.commentlist > li:before {
			content: "";
		}
	}
}
