// Tables
//---------------------------------------------
table.shop_attributes {
	border: 0;
	border-top: 0;
	margin-bottom: 1.618em;
	width: 100%;

	th {
		width: 150px;
		font-weight: 700;
		padding: 8px;
		border-top: 0;
		border-bottom: 0;
		margin: 0;
		line-height: 1.5;
	}

	td {
		font-style: italic;
		padding: 0;
		border-top: 0;
		border-bottom: 0;
		margin: 0;
		line-height: 1.5;

		p {
			margin: 0;
			padding: 8px 0;
		}
	}

	.alt td,
	.alt th {
		background: $woocommerce-light-fog;
	}
}

table.shop_table {
	border: 0px solid $woocommerce-light-fog;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
	border-collapse: collapse;
	border-radius: 5px;

	tr:nth-child(odd),
	tr.odd,
	th {
		background-color: transparent;
	}

	th {
		font-weight: 700;
		padding: 9px 12px;
		border-color: $woocommerce-light-fog;
	}

	td {
		border-top: 0;
		padding: 6px 12px;
		vertical-align: middle;
		border-color: $woocommerce-light-fog;

		small {
			font-weight: normal;
		}
	}

	tbody:first-child {
		tr:first-child {
			th,
			td {
				border-top: 0;
			}
		}
	}

	tfoot td,
	tfoot th,
	tbody th {
		font-weight: 700;
		border-top: 0;
	}

	#shipping_method {
		list-style: none;

		li {
			margin-left: 0;

			input {
				margin-right: 5px;
			}
		}
	}

	&.woocommerce-checkout-review-order-table {
		tr {
			&:nth-child(even) {
				background-color: transparent;
			}


		}

		td,
		th {
			border: 0;
		}
	}
}

table.my_account_orders {

	th,
	td {
		padding: 4px 8px;
		vertical-align: middle;
	}

	.button {
		white-space: nowrap;
	}

	.order-actions {
		text-align: right;

		.button {
			margin: .125em 0 .125em .25em;
		}
	}
}

td.product-name {
	dl.variation {
		margin: .25em 0;
		@include woocommerce-clearfix();

		dt,
		dd {
			display: block;
			margin-bottom: .5em;
		}

		dt {
			font-weight: 700;
			padding: 0 0 0.25em;
			margin: 0 4px 0 0;
			clear: left;
			float: left;
		}

		dd {
			padding: 0 0 0.25em;

			p {
				margin: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}
	}

}

td.product-quantity {
	min-width: 80px;
}
