// Layered Nav Widget
//---------------------------------------------
.widget_layered_nav {
	ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		li.chosen {
			a {
				&:before {
					@include woocommerce-icon-before("\e013");
					color: $woocommerce-red;
				}
			}
		}
	}
}

.widget_layered_nav_filters {
	ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;
		overflow: hidden;
		zoom: 1;

		li {
			float: left;
			padding: 0 1px 1px 0;
			list-style: none;


			a {
				text-decoration: none;
				background: $color__tertiary;

				&:before {
					@include woocommerce-icon-before("\e013");
					color: $woocommerce-red;
				}
			}
		}
	}
}

.widget_pwb_list_widget,
.widget_recently_viewed_products {

	.widget-content {
		padding: 0;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin-left: 0;
			border-bottom: 1px solid $color__tertiary;
			margin-bottom: 0;

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	.product_list_widget {
		li {
			padding: .5em 0;
		}
	}
}

.widget_layered_nav {
	ul {
		li {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 5px;
			border-bottom: 0;
			margin-left: 0;

			a {
				display: block;
				border: 2px solid $color__tertiary-light;
				border-radius: $border-radius;
				padding: 5px 10px;

				&:hover,
				&:focus {
					border-color: $color__primary;
				}
			}

			.count {
				display: none;
			}
		}
	}
}


// Price Filter Widget
//---------------------------------------------
.widget_price_filter {
	.price_slider {
		margin-bottom: 1em;
	}

	.price_slider_amount {
		text-align: left;
		line-height: 2.4;
		font-size: 1em;

		.button {
			font-size: 1.15em;
		}

		.button {
			float: none;
			width: 100%;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		background-color: $woocommerce-primary;
		border-radius: 1em;
		cursor: ew-resize;
		outline: none;
		top: -0.3em;

		//&:last-child {
			margin-left: -0.5em;
		//}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		border-radius: 1em;
		background-color: $woocommerce-primary;
	}

	.price_slider_wrapper .ui-widget-content {
		border-radius: 1em;
		background-color: $color__tertiary;
		border: 0;
	}

	.ui-slider-horizontal {
		height: .5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px;
	}
}

// Rating Filter Widget
//---------------------------------------------
.widget_rating_filter {
	ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside;

		li {
			@include clearfix();
			padding: 0 0 1px;
			list-style: none;

			a {
				padding: 1px 0;
				text-decoration: none;
			}

			.star-rating {
				float: none;
				display: inline-block;
			}
		}

		li.chosen {
			a {
				&::before {
					@include woocommerce-icon-before("\e013");
					color: $woocommerce-red;
				}
			}
		}
	}
}

// Minicart widget
&.widget_shopping_cart,
.widget_shopping_cart {

	.widget-content {
		padding: 0;
	}

	.total {
		border-top: 1px solid $color__tertiary;
		padding: 15px 0;
		text-align: center;
		margin-bottom: 0;

		strong {
			min-width: 40px;
			display: inline-block;
		}
	}

	.cart_list {
		li {
			padding-left: 2em;
			position: relative;
			padding-top: .5em;
    		padding-bottom: .5em;
			border-bottom: 1px solid $color__tertiary;

			&:last-child {
				border-bottom: 0;
			}

			a.remove {
				position: absolute;
				top: 9px;
    			left: 4px;
			}
		}
	}

	.buttons {
		padding: 15px 0;
		margin: 0;

		.wc-forward {
			display: block;
			text-align: center;
			background: $color__secondary;
			color: $woocommerce-white;
			padding: .5rem 1rem;
			margin-bottom: .5rem;

			&.checkout {
				background: $woocommerce;
				color: $woocommerce-white;
			}
		}
	}

	.woocommerce-mini-cart__empty-message {
		text-align: center;
	}
}

.widget_layered_nav_filters {
	ul {
		li {
			display: inline-block;
			margin-left: 0;
			margin-right: 5px;
    		margin-bottom: 5px !important;

			a {
				padding: 5px 10px !important;
				background: $color__tertiary;
			}
		}
	}
}
