.wp-block-group {
	&.has-background {
		padding: 1em;
	}
}

.wp-block-pullquote {
	border-top: 4px solid $pullquote__border-color;
    border-bottom: 4px solid $pullquote__border-color;
}

.wp-block-quote {
	border-left: 0;
}

.wp-block-latest-posts {
	padding-left: 0;

	&.wp-block-latest-posts__list {
		li {
			margin-left: 0;
		}
	}

	li {
		margin-bottom: 2em;

		> a {
			font-weight: bold;
			font-size: 1.2em;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

}

.wp-block-archives {
	&.wp-block-archives-list {
		padding-left: 0;
		list-style: none;

		li {
			margin-left: 0;
		}
	}
}

.wp-block-separator {
	border-top: 0;
}


.wp-block-button__link {
	font-size: 1em;
	border-radius: 0;
}

.wp-block-embed {
	iframe {
		margin: 0 auto;
		display: block;
	}
}

.twitter-tweet {
    margin: 0 auto;
}

.wp-block-file .wp-block-file__button {
    border-radius: 0;
}

.wp-block-columns {
	@media (max-width:768px) {
		display: block;

		.wp-block-column:not(:first-child) {
			margin-left: 0;
		}
	}
}

.wp-block-latest-comments__comment {
    line-height: inherit;
}
