//
// DEFAULTS
// all breakpoints
//

#main-navigation,
#main-navigation-mobile {
	ul {
		clear: both;
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

// reset button styles
#main-navigation button,
#main-navigation-mobile button,
#mobile-menu-button {
	background: none;
	color: inherit;
	font: inherit;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	cursor: pointer;
}

//
// MOBILE ONLY
//

@include media-breakpoint-down('md') {

	// Menu Toggle
	#mobile-menu-button {
		display: block;
		color: #FFF;
		font-size: 0.875em;
		background: $color__primary;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 1;
		padding: 0.65em;
		margin: 0;
		overflow: hidden;
		white-space: nowrap;
	}

	// Mobile Styles
	#main-navigation,
	#main-navigation-mobile {
		button.menu-button {
			color: #FFF;
			font-size: 1.5em;
			display: inline-block;
			margin: 0;
			padding: 15px 0;
			text-align: center;
			width: 25%;
		}

		ul {
			position: relative;
			top: 0;
			bottom: 0;
			z-index: 1000;
		}

		ul.main-menu {
			display: none;
			width: 100%;
		}

		li {
			display: block;

			a {
				display: inline-block;
				font-size: 1.125em;
				padding: 15px;
				text-decoration: none;
				width: 75%;

				&:hover,
				&:focus {
					background-color: inherit;
				}
			}

			&.menu-item-no-children {
				a {
					width: 100%;
				}
			}

			&.menu-item-has-children {
				a > svg {
					display: none;
				}
			}

		}

		ul.sub-menu {
			display: none;
			width: 100%;
			@include transition(right 0.25s ease-in-out);

			li {
				a {
					font-size: 1em;
				}
			}
		}

		ul.sub-menu-open {
			display: block
		}
	}

	#container {
		position: relative;
	}

}

//
// TABLET
//

@include media-breakpoint-up('lg') {

	#mobile-menu-toggle,
	#mobile-menu-button,
	#main-navigation-mobile {
		display: none !important;
	}

	#main-navigation {
		display: block;
		white-space: nowrap;
		position: relative;

		ul.menu {
			@include flexbox(flex);
			@include flex-wrap(nowrap);
			margin: 0 auto;
			text-align: center;
			max-width: map-get($container-max-widths, 'xl');
			padding-right: ($grid-gutter-width / 2);
			padding-left: ($grid-gutter-width / 2);

			> li.menu-item {
				@include flex(1 1 auto);
				display: inline-block;
				position: relative;
				z-index: 1000;

				&.menu-item-has-children {
					display: inline-flex;
					align-items: center;

					svg {
						width: auto;
						height: 6px;
					}
				}

				a {
					font-size: 1em;
					color: $color__body-text;
					display: block;
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					padding-left: 12px;
					padding-right: 12px;
					text-align: center;
					width: auto;
					text-decoration: none;

					&:hover,
					&:focus {
						text-decoration: none;
					}
				}

				.menu-button {
					&:focus {
						outline: -webkit-focus-ring-color auto 1px;
					}
				}

				// maintain hover state on dropdown
				&:hover,
				&:focus {
					> a {
						color: $color__primary;
					}
				}

				&:last-child {

					// Children
					ul.sub-menu {
						left: auto;
						right: 0;

						li.menu-item {
							// Grand Children
							ul.sub-menu {
								left: auto;
								right: 99.9%;
							}
						}
					}
				}

			}

		}

		// Children
		ul.sub-menu {
			background-color: #fff;
			display: none;
			min-width: 120%;
			position: absolute;
			text-align: left;
			top: 99.9%;
			bottom: auto;
			left: 0;
			width: auto;
			z-index: 1000;

			&.sub-menu-open {
				display: block
			}

			li.menu-item {
				display: block;
				margin: 0;
				white-space: nowrap;

				&.menu-item-has-children {
					svg, .menu-button {
						display: none;
					}
				}

				a {
					display: block;
					padding-top: 8px;
					padding-bottom: 8px;
					padding-left: 12px;
					padding-right: 12px;
					text-align: left;
					font-size: 0.75em;
					text-transform: none;
					color: #111;

					&:hover,
					&:focus {
						text-decoration: none;
						color: $color__primary;
					}
				}

				// Grand Children
				ul.sub-menu {
					left: 0;
					top: 0;
					position: relative;
					display: block;
					padding-left: 1em;
					min-width: auto;
					background: transparent;
				}
			}
		}

		// Show the child ul
		li:hover > ul,
		ul.show-menu {
			display: table;
		}
	}

}
