/******************************************************************
Site Name:
Author:

Stylesheet: Pagination Stylesheet

******************************************************************/

.post-navigation {
	margin: 2em auto;

	.previous-post-link,
	.next-post-link {
		padding: 15px 0;

		a {
			background: #f8f8f8;
			display: block;
		}

		h3 {
			font-size: 1.5em;
			margin: 0;
			padding: 1em 2em;
		}

		span {
			display: block;
			font-size: $size__font-default;
			font-family: $font__sans;
		}
	}
}

.koutabase-page-navi {
	list-style: none;
	text-align: center;
	margin: 2em -2px 1em;
	@include flexbox(flex);
	@include flex-wrap(wrap);
	@include justify-content(center);

	&:empty {
		display: none;
		margin: 0;
	}

	li {
		display: inline-block;
		margin: 2px;
		min-width: 3em;

		&:empty {
			display: none;
			margin: 0;
		}

		a,
		span {
			display: block;
			padding: 0.675em;
			border: 1px solid #DDD;
			text-align: center;
		}

		a {
			color: $color__body-text;
			@include transition(all 0.25s ease-in-out);
			text-decoration: none;

			&:hover,
			&:focus {
				color: #fff;
				background: $color__primary;
				border-color: $color__primary;
				text-decoration: none;
			}
		}
	}

	// current page link
	li.kb-current {
		span {
			background-color: #EEE;
		}
	}

	// previous and next page links
	li.kb-prev-link,
	li.kb-next-link {
		display: none;

		a {
			color: #FFF;
			background-color: $color__primary;
			border-color: $color__primary;

			&:hover,
			&:focus {
				background-color: darken($color__primary, 10%);
				border-color: darken($color__primary, 10%);
			}
		}
	}

	// first and last page links
	li.kb-first-link,
	li.kb-last-link {
		a {
			color: #FFF;
			background-color: $color__secondary;
			border-color: $color__secondary;

			&:hover,
			&:focus {
				background-color: darken($color__secondary, 10%);
				border-color: darken($color__secondary, 10%);
			}
		}
	}
}

.page-links {
	text-align: center;
	margin: 2em -2px 1em;
	@include flexbox(flex);
	@include flex-wrap(wrap);
	@include justify-content(center);

	&:empty {
		display: none;
		margin: 0;
	}

	.post-page-numbers {
		display: inline-block;
		margin: 2px;
		min-width: 3em;
		padding: 0.675em;
		border: 1px solid #DDD;
		text-align: center;
	}

	a {
		color: $color__body-text;
		text-decoration: none;
		@include transition(all 0.25s ease-in-out);

		&:hover,
		&:focus {
			color: $color__link;
			text-decoration: none;
		}
	}

	// current page link
	.current {
		background-color: #EEE;
	}

}

// fallback previous & next links
.wp-prev-next {

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}
}

//
// MEDIA QUERIES
//

@include media-breakpoint-up('sm') {

	.koutabase-page-navi {
		li {
			a,
			span {
				padding: 0.5em 1.25em;
			}
		}

		li.kb-prev-link,
		li.kb-next-link {
			display: inline-block;
		}
	}

}
