/******************************************************************
Site Name:
Author:

Stylesheet: Tables Stylesheet

******************************************************************/

table {
	border-collapse: collapse;
	margin: 1em 0;
	text-align: left;
	width: 100%;

	thead {
		text-align: center;
	}

	th,
	td {
		padding: 4px;
	}

	th {
		background-color: $table__bg-th-color;
		border: 0px solid $table__border-color;
		color: $color__body-text;
		font-weight: normal;
		text-align: left;
	}

	td {
		border: solid 0px $table__border-color;
		color: $color__body-text;
		vertical-align: top;
	}

	tr:nth-child(even),
	tr.even {
		background-color: $table__bg-even-color;
	}

	tr:nth-child(odd),
	tr.odd {
		background-color: $table__bg-odd-color;
	}

	tr:hover {}
}

//
// MEDIA QUERIES
//

@include media-breakpoint-up('md') {

	table {
		th,
		td {
			padding: 8px;
		}
	}

}
