/******************************************************************
Site Name:
Author:

Stylesheet: Typography Stylesheet

******************************************************************/

body {
	font-family: $font__sans;
	font-size: $size__font-default;
	color: $color__body-text;
	line-height: 1.75;
}

p {
	-webkit-hyphens: manual;
	-epub-hyphens: manual;
	-moz-hyphens: manual;
	hyphens: manual;
	margin-bottom: 1rem;

	&.has-large-font-size {
		line-height: 1.2;
	}

	&.has-huge-font-size,
	&.has-medium-font-size {
		line-height: 1.3;
	}
}

b,
strong,
.strong {
	font-weight: bold;
}

cite,
dfn,
em,
i,
.em {
	font-style: italic;
}

small,
.small {
	font-size: 75%;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
}

blockquote {
	margin: 2em 0;
	padding: 0 2em;
	font-style: normal;

	p {
		font-size: 1.25em;
		font-weight: 300;
		margin-top: 0;
		font-family: $font__headings;
	}

	small,
	cite {
		display: block;

		&:before {
			content: "\2014 \00A0";
		}
	}

	&.wp-block-quote.is-style-large {
		p {
			font-style: normal;
			font-size: 2em;
			line-height: 1.2;
		}
	}
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

address {
	display: block;
	font-style: normal;
	margin-bottom: 1em;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333;
	border-radius: 0;
	padding: 0 3px 2px;
}

code {
	background-color: #F7F7F7;
	border: 1px solid #E1E1E8;
	color: #D14;
	display: inline-block;
	padding: 2px 4px;
	white-space: pre-wrap;
}

pre {
	background-color: #F5F5F5;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
	display: block;
	font-size: 13px;
	line-height: 1.3;
	margin: 0 0 10px;
	padding: 9.5px;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

pre code {
	background-color: transparent;
	border: 0;
	color: inherit;
	padding: 0;
	white-space: pre;
	white-space: pre-wrap;
}

hr {
	clear: both;
	border-top: 0;
	border-bottom: $separator__border-width solid $separator__border-color;
	margin: 1.429em auto;
	max-width: $max-content-width;

	&.is-style-wide {
		max-width: none;
	}
}

//
// HEADINGS
//

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $font__headings;
	font-weight: 700;
	text-rendering: optimizelegibility;
	margin-top: 0;

	a {
		text-decoration: none;
	}
}

h1,
.h1 {
	font-size: 3.875em;
	line-height: 1.2;
	margin-bottom: 0.67rem;
}

h2,
.h2 {
	font-size: 2.45em;
	line-height: 1.3;
	margin-bottom: 0.83rem;
}

h3,
.h3 {
	font-size: 2em;
	line-height: 1.4;
	margin-bottom: 1rem;
}

h4,
.h4 {
	font-size: 1.7em;
	line-height: 1.5;
	margin-bottom: 1.33rem;
}

h5,
.h5 {
	font-size: 1.4em;
	line-height: 1.5;
	margin-bottom: 1.67rem;
}

h6,
.h6 {
	font-size: 1.1em;
	line-height: 1.55;
	margin-bottom: 1.33rem;
}

.entry-title,
.page-title,
.entry-content {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
