//
// DEFAULTS
// all widgets
//

.widget {
	margin: 0 0 2.2em;

	#colophon & {
		border: 0;
		background: transparent;
		margin: 0;
	}

	.widgettitle {
		margin-top: 0;
		margin-bottom: 0.75em;
		font-size: 1em;
		font-weight: bold;
		font-family: $font__sans;
	}

	// list styles
	ul,
	ol {
		list-style: none;

		li {
			margin-left: 0;
			margin-bottom: 0.3em;

			ul,
			ol {
				margin-top: 0;
				margin-left: 1em;
				margin-right: 0;
			}
		}
	}

	// hyphenate long words
	a,
	p,
	li,
	.widgettitle {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}

// Recent Posts
.widget_recent_entries {
	ul {
		li {

			.post-date {
				display: block;
				color: $color__tertiary-med;
				font-size: 0.875em;
				font-style: italic;
				margin-left: 1.4em;
			}
		}
	}
}
